:root {
    --color-primary: #a4620c;
    --color-secondary: #139f4d;
    --font-size: 16px;
    --spacing: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: var(white);
    color: rgb(178, 103, 17);
    text-align: center;
    padding: var(--spacing);
    width: 100%;
}

main {
    width: 100%;
    max-width: 800px;
    padding: var(--spacing);
    box-sizing: border-box;
}

.container {
    background-color: #fff;
    padding: var(--spacing);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-bottom: var(--spacing);
    color: var(--color-primary);
}

p {
    line-height: 1.6;
}

.btn {
    padding: 10px 20px;
    font-size: var(--font-size);
    background-color: var(--color-secondary);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #23c263e6;
}

footer {
    margin-top: var(--spacing);
    text-align: center;
    color: #999;
}
